{% extends '../layouts/_default.twig' %}

{% set title = 'Stuff I’ve Made 🔨 Andrew Philpott' %}
{% set description = 'Some stuff made by Andrew Philpott' %}
{% set id = 'work' %}

{% block body %}
	{% include '../partials/_banner.twig' with {'headline': 'Here’s stuff I’ve made.', 'subheadline': 'Check it out.'} %}

	<main id="main" class="main portfolio">
    <ol class="grid grid-work">
			<li class="grid_item">
        <article class="work">
          <header class="work_head">
            <h2 class="work_title">H to the Ipsum</h2>
						<strong class="work_role">HTML, CSS, & Angular</strong>
          </header><!-- /.work_head -->
					<figure class="work_img">
							<img data-src="{{ assets }}/img/work/ipsum.jpg" alt="A preview of H to the Ipsum" />
					</figure><!-- /.work_img -->
					<a class="cover" href="http://htotheipsum.com">Visit H to the Ipsum</a>
        </article>
      </li>
			<li class="grid_item">
        <article class="work">
          <header class="work_head">
            <h2 class="work_title">Elevator Up Blog Schedule</h2>
						<strong class="work_role">HTML, CSS, JavaScript & Firebase</strong>
						<span class="work_company">Agency: Elevator Up</span>
          </header><!-- /.work_head -->
					<figure class="work_img">
							<img data-src="{{ assets }}/img/work/schedule.jpg" alt="A preview of the Elevator Up Blog Schedule" />
					</figure><!-- /.work_img -->
					<a class="cover" href="http://schedule.elevatorup.com">Visit the Schedule</a>
        </article>
      </li>
      <li class="grid_item">
        <article class="work">
          <header class="work_head">
            <h2 class="work_title">Hope College</h2>
						<strong class="work_role">Front End Development</strong>
						<span class="work_company">Agency: Mighty</span>
          </header><!-- /.work_head -->
					<figure class="work_img">
							<img data-src="{{ assets }}/img/work/hope.jpg" alt="A preview of the Hope College project" />
					</figure><!-- /.work_img -->
					<a class="cover" href="http://hope.edu">Visit Hope College</a>
        </article>
      </li>
			<li class="grid_item">
        <article class="work">
          <header class="work_head">
            <h2 class="work_title">5x5 Night</h2>
						<strong class="work_role">Front End & CMS Development</strong>
						<span class="work_company">Agency: Mighty</span>
          </header><!-- /.work_head -->
					<figure class="work_img">
							<img data-src="{{ assets }}/img/work/5x5.jpg" alt="A preview of the 5x5 Night project" />
					</figure><!-- /.work_img -->
					<a class="cover" href="http://5x5night.com">Visit 5x5 Night</a>
        </article>
      </li>
			<li class="grid_item">
        <article class="work">
          <header class="work_head">
            <h2 class="work_title">Seamless</h2>
						<strong class="work_role">Front End & CMS Development</strong>
						<span class="work_company">Agency: Mighty</span>
          </header><!-- /.work_head -->
					<figure class="work_img">
							<img data-src="{{ assets }}/img/work/seamless.jpg" alt="A preview of the Seamless project" />
					</figure><!-- /.work_img -->
					<a class="cover" href="http://seamlessaccelerator.com">Visit Seamless</a>
        </article>
      </li>
			<li class="grid_item">
        <article class="work">
          <header class="work_head">
            <h2 class="work_title">Decide For Me</h2>
						<strong class="work_role">Design & Front End Development</strong>
          </header><!-- /.work_head -->
					<figure class="work_img">
							<img data-src="{{ assets }}/img/work/decideforme.jpg" alt="A preview of the Decide For Me project" />
					</figure><!-- /.work_img -->
					<a class="cover" href="http://de.cidefor.me">Visit Decide For Me</a>
        </article>
      </li>
			<li class="grid_item">
        <article class="work">
          <header class="work_head">
            <h2 class="work_title">Nemschoff</h2>
						<strong class="work_role">Front End & CMS Development</strong>
						<span class="work_company">Agency: Mighty</span>
          </header><!-- /.work_head -->
					<figure class="work_img">
							<img data-src="{{ assets }}/img/work/nemschoff.jpg" alt="A preview of the Nemschoff project" />
					</figure><!-- /.work_img -->
					<a class="cover" href="http://nemschoff.com">Visit Nemschoff</a>
        </article>
      </li>
			<li class="grid_item">
        <article class="work">
          <header class="work_head">
            <h2 class="work_title">ArtPrize</h2>
						<strong class="work_role">Front End & CMS Development</strong>
						<span class="work_company">Agency: Mighty</span>
          </header><!-- /.work_head -->
					<figure class="work_img">
							<img data-src="{{ assets }}/img/work/artprize.jpg" alt="A preview of the ArtPrize project" />
					</figure><!-- /.work_img -->
					<a class="cover" href="http://artprize.org">Visit ArtPrize</a>
        </article>
      </li>
			<li class="grid_item">
        <article class="work">
          <header class="work_head">
            <h2 class="work_title">Born Outdoors</h2>
						<strong class="work_role">Design, Front End & CMS Development</strong>
						<span class="work_company">Agency: Mighty</span>
          </header><!-- /.work_head -->
					<figure class="work_img">
							<img data-src="{{ assets }}/img/work/born-outdoors.jpg" alt="A preview of the Born Outdoors project" />
					</figure><!-- /.work_img -->
					<a class="cover" href="http://bornoutdoors.com">Visit Born Outdoors</a>
        </article>
      </li>
			<li class="grid_item">
        <article class="work">
          <header class="work_head">
            <h2 class="work_title">Start Garden</h2>
						<strong class="work_role">Front End & CMS Development</strong>
						<span class="work_company">Agency: Mighty</span>
          </header><!-- /.work_head -->
					<figure class="work_img">
							<img data-src="{{ assets }}/img/work/start-garden.jpg" alt="A preview of the Start Garden project" />
					</figure><!-- /.work_img -->
					<a class="cover" href="http://startgarden.com">Visit Start Garden</a>
        </article>
      </li>
			<li class="grid_item">
        <article class="work">
          <header class="work_head">
            <h2 class="work_title">United Plastics</h2>
						<strong class="work_role">Design, Front End & CMS Development</strong>
          </header><!-- /.work_head -->
					<figure class="work_img">
							<img data-src="{{ assets }}/img/work/upi.jpg" alt="A preview of the United Plastics project" />
					</figure><!-- /.work_img -->
					<a class="cover" href="http://unitedplasticsinc.com">Visit United Plastics</a>
        </article>
      </li>
    </ol><!-- /.work -->
	</main><!-- /#main -->
{% endblock %}
