{% extends './layouts/_default.twig' %}

{% set title     = 'Welcome' %}
{% set home      = 'true'    %}
{% set id        = 'home'    %}
{% set data_page = 'home'    %}

{% block body %}
	{% include './partials/_banner.twig' with {'headline': 'Hi, my name is Andrew', 'subheadline': 'I make websites and stuff.'} %}

	<main id="main" class="main">
		<div class="wrap">
			<h2>Here’s some stuff I wrote.</h2>

			<ol class="posts">
				{% for post in posts %}
					<li>
						<article class="preview">
							<h3 class="preview_title">{{ post.title }}</h3>
							<time class="preview_date" datetime="{{ post.date | date('Y-m-d') }}">{{ post.date | date('F j, Y') }}</time>
							<p>{{ post.excerpt }}</p>
							<a class="preview_more" href="{{ post.url | replace({'src': '', 'index.md': ''}) }}">Read More</a>
						</article>
					</li>
				{% endfor %}
			</ol>
		</div><!-- /.wrap -->
	</main><!-- /#main -->
{% endblock %}