<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class=""> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>{{ metaTitle }}</title>
		<meta name="description" content="{{ excerpt }}">

		<!-- Google Fonts CSS -->
		<style type="text/css">
			@font-face{font-family:Montserrat;font-style:normal;font-weight:700;src:local('Montserrat-Bold'),url(https://fonts.gstatic.com/s/montserrat/v6/IQHow_FEYlDC4Gzy_m8fcnbFhgvWbfSbdVg11QabG8w.woff) format('woff')}@font-face{font-family:'Droid Serif';font-style:normal;font-weight:400;src:local('Droid Serif'),local('DroidSerif'),url(https://fonts.gstatic.com/s/droidserif/v6/0AKsP294HTD-nvJgucYTaLrIa-7acMAeDBVuclsi6Gc.woff) format('woff')}@font-face{font-family:'Droid Serif';font-style:normal;font-weight:700;src:local('Droid Serif Bold'),local('DroidSerif-Bold'),url(https://fonts.gstatic.com/s/droidserif/v6/QQt14e8dY39u-eYBZmppwRbnBKKEOwRKgsHDreGcocg.woff) format('woff')}@font-face{font-family:'Droid Serif';font-style:italic;font-weight:400;src:local('Droid Serif Italic'),local('DroidSerif-Italic'),url(https://fonts.gstatic.com/s/droidserif/v6/cj2hUnSRBhwmSPr9kS5894o3ZslTYfJv0R05CazkwN8.woff) format('woff')}
		</style>

		<!-- Main Styles -->
		<link rel="stylesheet" type="text/css" href="{{ assets }}/css/screen.css" media="screen" />

		<link href="{{ assets }}/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Metadata -->
		<meta property="og:title" content="{{ metaTitle }}" />
		<meta property="og:type" content="article" />
		<meta property="og:image" content="{{ assets }}/img/icn_og.png" />
		<meta property="og:site_name" content="Hi, my name is Andrew." />
		<meta property="og:description" content="{{ excerpt }}" />
		<link rel="alternate" type="application/rss+xml" title="Here’s my RSS feed" href="https://himynameisandrew.com/rss/index.xml" />

		{% if canonical is defined %}
			<link rel="canonical" href="{{ canonical }}" />
		{% endif %}

		<!-- Touch Icon -->
		<link rel="apple-touch-icon" href="{{ assets }}/img/icn_touch.png" />
	</head>

	<body id="blog" class="blog">

		{% include '../partials/_header.twig' %}

		<div class="page">
			{% include '../partials/_banner.twig' with {'headline': title} %}

			<main id="main" class="main">
				<div class="wrap">
					{% block body %}
					{% endblock %}
				</div><!-- /.wrap -->

				<div class="cool wrap">
					<strong class="cool_count">0</strong>
					<span class="cool_lbl">Cool post, man.</span>
				</div><!-- /.cool -->
			</main><!-- /#main -->
		</div><!-- /.page -->

		{% include '../partials/_footer.twig' %}

		{% include '../partials/_scripts.twig' with {'post': true} %}

	</body>
</html>
